{% extends 'layout.html.twig' %}

{% trans_default_domain 'home' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block content %}

    {% include 'common/flash.html.twig' %}

    <div class="container">
        <div class="well">
            {% if app.user %}
                <h2>{{ 'home.welcome_in'|trans }} {{ app.user.name }}</h2>
            {% else %}
                <h2>{{ 'home.welcome_out'|trans }}</h2>
            {% endif %}
        </div>
    </div>

{% endblock %}

